.list-pokemons {
    background: brown;
    background-image: url('../../assets/images/background.png');
    border-radius: 10px;
}
.pokemon-list-header h4 {
    color:#fff;
}
.pokemon-list-header input {
    width: 100%
}
.details-pokemons {
    background: aquamarine;
    background-image: url('../../assets/images/background.png');
    border-radius: 10px;
}
.prev-next-buttons .prev {
    float: left;
}
button:disabled {
    background-color: #ccc !important;
    border-color: #ccc !important;
    color:#000 !important;
    opacity: 1 !important;
}
.prev-next-buttons .next {
    float: right;
}
.card {
    display:block !important;
    text-align: center;
}
.card img {
    width: 200px;
}
.card-img-top {
    height: 200px;
}
.pokemons-color-list {
    height: 505px;
    overflow-y: scroll;
}